body,
p,
h1, h2, h3, h4, h5 
{
  font-family: "Lato", "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main_logo_c {
  min-width: 125px;
  max-width: 200px;
  width: 20vw;
}

.header-clone .logo img {
  top: -5px;
  bottom: 0;
  width: auto;
  margin: auto;
  height: 90%;
}

@media (max-width: 738px) {
  #hero .container {
      height: inherit;
  }
}

.hero-content h1 {
  text-shadow: 0 2px 30px rgba(125,116,107,.75);
}


.hero-subscribe-layout #hero,
.creative-layout #hero,
.event-layout #hero {
  background: url(../images/positives-fuehren.jpg) center center no-repeat;
  background: url(https://corporatehappiness.s3.eu-central-1.amazonaws.com/positives-fuehren-de/images/positives-fuehren-de-img-resize.jpg) center center no-repeat;  
}


.price .price-feature,
.best-value-label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-flow: column;
}

.price .price-feature {
  min-height: 250px;
}
.best-value-label {
  min-height: 50px;
}


@media screen and (min-width: 1200px) {
  .container.big {
      width: 90%;
      max-width: 1400px;
  }    
}

